{% extends "base.html.twig" %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block body %}
    <div class="container mx-auto">
        <div class="w-2/3 mx-auto mt-6">
            <a href="{{ path('post.index') }}" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Retourner au blog
            </a>
        </div>
        <div class="mt-6">
            {% for message in app.flashes('success') %}
                {% include "components/_alert.html.twig" with {
                    'message': message
                } %}
            {% endfor %}
        </div>

        <h1 class="text-5xl text-center mt-8 mb-4 text-blue-700">{{ post.title|capitalize }}!</h1>
        <h2 class="text-2xl text-center mb-8">Publié le
            {{ post.createdAt|date('d/m/Y') }}</h2>

        {% include "components/_share.html.twig" %}
        {% if post.thumbnail %}
            <img class="rounded-t-lg" src="{{ vich_uploader_asset(post.thumbnail, 'imageFile') }}" alt="{{ post.thumbnail.imageName }}">
        {% endif %}

        <div class="w-2/3 mx-auto my-8 leading-6">
           {% include 'components/_badges.html.twig' with {
               badges : post.categories
           } only  %}
        </div>


        <div class="w-2/3 mx-auto my-8 leading-6">
            {{ post.content|raw }}
            <p class="text-xs mt-8">Dernière mis à jour le
                {{ post.updatedAt|date('d/m/Y') }}</p>
        </div>

        <div class="w-2/3 mx-auto my-8 leading-6">
           <ul class="flex flex-row justify-start text-xs mt-8">
               <li>Etiquettes: &nbsp;</li>
                {% for tag in post.tags %}
                    <li>
                        <a href="{{ path('tag.index',{slug: tag.slug}) }}">{{ tag.name }}</a>
                        {% if not loop.last %}
                            <span>&nbsp; - &nbsp;</span>
                        {% endif %}
                    </li>
                {% endfor %}
           </ul>
            <div class="mt-5">
                <h2 class="text-2xl mb-8">commentaires</h2>
                <div class="comments">
                    {% if app.user %}
                    <div class="comments__new">
                        <div class="w-full-width">
                            {{ form_start(form) }}
                            {{ form_label(form.content, 'Nouveau commentaire', {'attr' : {'class' : 'form-label inline-block mb-2 text-gray-700'}}) }}
                            {{ form_widget(form.content, {'attr': {'class': 'form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none'}}) }}
                            <button class="btn inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700  focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out flex items-center mt-5" type="submit" id="button-addon2">
                                Poster mon commentaire
                            </button>

                            {{ form_end(form) }}
                        </div>
                    </div>
                    {% endif %}

                    <hr class="my-3">

                    {% for comment in post.comments %}
                        {% include 'components/_comment.html.twig' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

