{% if comment.isApproved %}
    <div class="comment flex justify-start mb-4">
        {% if app.user == comment.author %}
            <div class="comment__delete absolute right-0">
                <form name="comment_delete" method="post" action="{{ path('comment.delete', {'id': comment.id}) }}">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                    <button type="submit" class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewbox="0 0 20 20" fill="red">
                            <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"/>
                        </svg>
                    </button>
                </form>
            </div>
        {% endif %}

        <div>
            <div class="block p-6 rounded-lg shadow-lg bg-white">
                <div class="md:flex md:flex-row">
                    <div class="md:w-96 w-24 flex justify-center items-center mb-6 lg:mb-0 mx-auto md:mx-0">
                        {% if comment.author.avatar %}
                            <img src="{{ comment.author.avatar }}" alt="{{ comment.author }}'s avatar"/>
                        {% else %}
                            <img src="https://yt3.ggpht.com/QAbtCWyrOI4SbZIqzQP7w8C9fWQhHfSg7UoIDUmDlOpVlkbvTuOJc8E-R8K8wh0Pe9Vki7VsOr8=s88-c-k-c0x00ffffff-no-rj" alt="Avatar">
                        {% endif %}
                    </div>
                    <div class="md:ml-6">
                        <p class="text-gray-500 font-light mb-6">
                            {{ comment.content|raw }}
                        </p>
                        <p class="font-semibold text-xl mb-2 text-gray-800">{{ comment.author }}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endif %}